<h1>Clustering de clients</h1>

In [133]:
library(stats)
Sys.setlocale('LC_ALL','C')

[1] "LC_CTYPE=C;LC_NUMERIC=C;LC_TIME=C;LC_COLLATE=C;LC_MONETARY=C;LC_MESSAGES=ca_ES.UTF-8;LC_PAPER=ca_ES.UTF-8;LC_NAME=C;LC_ADDRESS=C;LC_TELEPHONE=C;LC_MEASUREMENT=ca_ES.UTF-8;LC_IDENTIFICATION=C"

In [138]:
dsfilename <- "../data/cliente.cvs"
ds <- read.csv(dsfilename, header=FALSE)
colnames(ds) <-c("CodCliente", "NombreCliente", "Sexo", "FechaNacimiento", "EstadoCivil", "Direccion", "Profesion", "NumeroHijos", "Region", "Nacionalidad", "TotalCompras", "PuntosAcumulados")
head(ds)

  CodCliente NombreCliente                 Sexo    FechaNacimiento EstadoCivil
1 0000001R   Roca Sacrist\303\241n Narciso Hombre  19551220        Soltero/a
2 0065536F   Fuentes Mohedano Rosa         Mujer   19420108        Casado/a
3 0065537P   Prat Salom Pedro              Hombre  19400315        Casado/a
4 0000002J   Jones Nicholas                Hombre  19110808        Soltero/a
5 0000003B   Burton Alexander              Hombre  19420417        Casado/a
6 0065538S   Sales Deborah                 Mujer   19410526        Casado/a
  Direccion
1 Piazzale Suppercortemaggiore 4\302\240, Milano
2 C/ Niza 73 08032 Barcelona
3 corso Vittorio Emanuele, 102 Roma
4 1 Place de la Sorbonne , 75003 Paris
5 46 Stockwell Place ,Liverpool L69 2DH
6 Leopoldstra\303\237e 44, M\303\274nchen
  Profesion                              NumeroHijos Region       Nacionalidad
1 Economistas,Abogados & Admin.Empresas  0           Sur Europa   Espa\303\261a
2 Ingenieros & Especialistas             1           Sur Europa   Espa\303\261a
3 Doctores & Profesionales de la Salud   2           Sur Europa   Espa\303\261a
4 Ingenieros & Especialistas             0           Norte Europa Reino Unido
5 Doctores & Profesionales de la Salud   2           Norte Europa Reino Unido
6 Economistas,Abogados & Admin.Empresas  1           Norte Europa Reino Unido
  TotalCompras PuntosAcumulados
1  4            7
2 16           13
3 14           10
4  2            9
5 13            9
6  7           11

In [139]:
str(ds)

'data.frame':	4069 obs. of  12 variables:
 $ CodCliente      : Factor w/ 4069 levels "0000001R","0000002J",..: 1 64 65 2 3 66 67 128 129 192 ...
 $ NombreCliente   : Factor w/ 3288 levels "Acadia","Acedo G\303\263mez Agust\303\255n ",..: 2581 1031 2437 1491 474 2624 741 668 2762 1969 ...
 $ Sexo            : Factor w/ 3 levels "Empresa","Hombre ",..: 2 3 2 2 2 3 2 2 3 2 ...
 $ FechaNacimiento : int  19551220 19420108 19400315 19110808 19420417 19410526 19641108 19421027 19641114 19390923 ...
 $ EstadoCivil     : Factor w/ 5 levels "","Casado/a ",..: 4 2 2 4 2 2 4 2 2 3 ...
 $ Direccion       : Factor w/ 2544 levels "0 Castle Street ,Liverpool L69 3BX",..: 1961 1532 2371 20 936 1845 459 1158 912 1165 ...
 $ Profesion       : Factor w/ 10 levels "Alimentaci\303\263n",..: 6 9 5 9 5 6 9 5 6 6 ...
 $ NumeroHijos     : int  0 1 2 0 2 1 0 0 3 0 ...
 $ Region          : Factor w/ 3 levels "Norte Europa",..: 3 3 3 1 1 1 1 2 2 1 ...
 $ Nacionalidad    : Factor w/ 3 levels "Espa\303\261a",..: 1 1 1 3 3 3 3 2 2 3 ...
 $ TotalCompras    : int  4 16 14 2 13 7 10 2 21 5 ...
 $ PuntosAcumulados: int  7 13 10 9 9 11 12 6 15 9 ...

In [140]:
sapply(ds, function(x)(sum(is.na(x)))) # NA counts

      CodCliente    NombreCliente             Sexo  FechaNacimiento
               0                0                0                0
     EstadoCivil        Direccion        Profesion      NumeroHijos
               0                0                0              805
          Region     Nacionalidad     TotalCompras PuntosAcumulados
               0                0                0                0

In [141]:
ds$NumeroHijos[is.na(ds$NumeroHijos)] <- 0
sapply(ds, function(x)(sum(is.na(x)))) # NA counts

      CodCliente    NombreCliente             Sexo  FechaNacimiento
               0                0                0                0
     EstadoCivil        Direccion        Profesion      NumeroHijos
               0                0                0                0
          Region     Nacionalidad     TotalCompras PuntosAcumulados
               0                0                0                0

In [142]:
str(ds)

'data.frame':	4069 obs. of  12 variables:
 $ CodCliente      : Factor w/ 4069 levels "0000001R","0000002J",..: 1 64 65 2 3 66 67 128 129 192 ...
 $ NombreCliente   : Factor w/ 3288 levels "Acadia","Acedo G\303\263mez Agust\303\255n ",..: 2581 1031 2437 1491 474 2624 741 668 2762 1969 ...
 $ Sexo            : Factor w/ 3 levels "Empresa","Hombre ",..: 2 3 2 2 2 3 2 2 3 2 ...
 $ FechaNacimiento : int  19551220 19420108 19400315 19110808 19420417 19410526 19641108 19421027 19641114 19390923 ...
 $ EstadoCivil     : Factor w/ 5 levels "","Casado/a ",..: 4 2 2 4 2 2 4 2 2 3 ...
 $ Direccion       : Factor w/ 2544 levels "0 Castle Street ,Liverpool L69 3BX",..: 1961 1532 2371 20 936 1845 459 1158 912 1165 ...
 $ Profesion       : Factor w/ 10 levels "Alimentaci\303\263n",..: 6 9 5 9 5 6 9 5 6 6 ...
 $ NumeroHijos     : num  0 1 2 0 2 1 0 0 3 0 ...
 $ Region          : Factor w/ 3 levels "Norte Europa",..: 3 3 3 1 1 1 1 2 2 1 ...
 $ Nacionalidad    : Factor w/ 3 levels "Espa\303\261a",..: 1 1 1 3 3 3 3 2 2 3 ...
 $ TotalCompras    : int  4 16 14 2 13 7 10 2 21 5 ...
 $ PuntosAcumulados: int  7 13 10 9 9 11 12 6 15 9 ...

In [144]:
library(arules)

Transformem les dades, discretitzant els valors nominals generant més columns:

In [145]:
sexEmpresa <- sapply(as.numeric(ds$Sexo), function(x) {ifelse(any(x == 1), 1, 0)})
sexHome <- sapply(as.numeric(ds$Sexo), function(x) {ifelse(any(x == 2), 1, 0)})
sexDona <- sapply(as.numeric(ds$Sexo), function(x) {ifelse(any(x == 3), 1, 0)})
ecOtro <- sapply(as.numeric(ds$EstadoCivil), function(x) {ifelse(any(x == 1), 1, 0)})
ecCasado <- sapply(as.numeric(ds$EstadoCivil), function(x) {ifelse(any(x == 2), 1, 0)})
ecDivorciado <- sapply(as.numeric(ds$EstadoCivil), function(x) {ifelse(any(x == 3), 1, 0)})
ecSoltero <- sapply(as.numeric(ds$EstadoCivil), function(x) {ifelse(any(x == 4), 1, 0)})
ecViudo <- sapply(as.numeric(ds$EstadoCivil), function(x) {ifelse(any(x == 5), 1, 0)})
regNorteEuropa <- sapply(as.numeric(ds$Region), function(x) {ifelse(any(x == 1), 1, 0)})
regNorteAmerica <- sapply(as.numeric(ds$Regio), function(x) {ifelse(any(x == 2), 1, 0)})
regSurEuropa <- sapply(as.numeric(ds$Region), function(x) {ifelse(any(x == 3), 1, 0)})

Creem el nostre nou dataset amb la ampliació d'atributs:

In [146]:
df <- data.frame('sex_empresa'=sexEmpresa)
df['sex_home'] <- sexHome
df['sex_dona'] <- sexDona
df['ec_otro'] <- ecOtro
df['ec_casado'] <- ecCasado
df['ec_divorciado'] <- ecDivorciado
df['ec_soltero'] <- ecSoltero
df['ec_viudo'] <- ecViudo
df['reg_norte_europa'] <- regNorteEuropa
df['reg_norte_america'] <- regNorteAmerica
df['reg_sur_europa'] <- regSurEuropa
df['numero_hijos'] <- ds$NumeroHijos
df['total_compras'] <- ds$TotalCompras

In [147]:
head(df, 10)

   sex_empresa sex_home sex_dona ec_otro ec_casado ec_divorciado ec_soltero
1  0           1        0        0       0         0             1
2  0           0        1        0       1         0             0
3  0           1        0        0       1         0             0
4  0           1        0        0       0         0             1
5  0           1        0        0       1         0             0
6  0           0        1        0       1         0             0
7  0           1        0        0       0         0             1
8  0           1        0        0       1         0             0
9  0           0        1        0       1         0             0
10 0           1        0        0       0         1             0
   ec_viudo reg_norte_europa reg_norte_america reg_sur_europa numero_hijos
1  0        0                0                 1              0
2  0        0                0                 1              1
3  0        0                0                 1              2
4  0        1                0                 0              0
5  0        1                0                 0              2
6  0        1                0                 0              1
7  0        1                0                 0              0
8  0        0                1                 0              0
9  0        0                1                 0              3
10 0        1                0                 0              0
   total_compras
1   4
2  16
3  14
4   2
5  13
6   7
7  10
8   2
9  21
10  5

In [148]:
str(df)

'data.frame':	4069 obs. of  13 variables:
 $ sex_empresa      : num  0 0 0 0 0 0 0 0 0 0 ...
 $ sex_home         : num  1 0 1 1 1 0 1 1 0 1 ...
 $ sex_dona         : num  0 1 0 0 0 1 0 0 1 0 ...
 $ ec_otro          : num  0 0 0 0 0 0 0 0 0 0 ...
 $ ec_casado        : num  0 1 1 0 1 1 0 1 1 0 ...
 $ ec_divorciado    : num  0 0 0 0 0 0 0 0 0 1 ...
 $ ec_soltero       : num  1 0 0 1 0 0 1 0 0 0 ...
 $ ec_viudo         : num  0 0 0 0 0 0 0 0 0 0 ...
 $ reg_norte_europa : num  0 0 0 1 1 1 1 0 0 1 ...
 $ reg_norte_america: num  0 0 0 0 0 0 0 1 1 0 ...
 $ reg_sur_europa   : num  1 1 1 0 0 0 0 0 0 0 ...
 $ numero_hijos     : num  0 1 2 0 2 1 0 0 3 0 ...
 $ total_compras    : int  4 16 14 2 13 7 10 2 21 5 ...

In [149]:
sapply(ds, function(x)(sum(is.na(x)))) # NA counts

      CodCliente    NombreCliente             Sexo  FechaNacimiento
               0                0                0                0
     EstadoCivil        Direccion        Profesion      NumeroHijos
               0                0                0                0
          Region     Nacionalidad     TotalCompras PuntosAcumulados
               0                0                0                0

In [186]:
mycluster <- kmeans(df, centers=5)

In [187]:
mycluster

K-means clustering with 5 clusters of sizes 328, 444, 838, 1190, 1269

Cluster means:
  sex_empresa  sex_home  sex_dona    ec_otro ec_casado ec_divorciado
1  0.49695122 0.3414634 0.1615854 0.49695122 0.2073171     0.1067073
2  0.00000000 0.6441441 0.3558559 0.00000000 0.6103604     0.3333333
3  0.09785203 0.5727924 0.3293556 0.09785203 0.3114558     0.1491647
4  0.27310924 0.4529412 0.2739496 0.27310924 0.2957983     0.1487395
5  0.18518519 0.5193065 0.2955083 0.18518519 0.2884161     0.1308117
   ec_soltero   ec_viudo reg_norte_europa reg_norte_america reg_sur_europa
1 0.164634146 0.02439024        0.5609756         0.2012195      0.2378049
2 0.009009009 0.04729730        0.4234234         0.2207207      0.3558559
3 0.427207637 0.01431981        0.4140811         0.2219570      0.3639618
4 0.269747899 0.01260504        0.4739496         0.2252101      0.3008403
5 0.379826635 0.01576044        0.4239559         0.2214342      0.3546099
  numero_hijos total_compras
1    0.5213415     22.820122
2    2.6013514      4.903153
3    0.5632458      2.126492
4    0.7058824     12.589076
5    0.4121355      7.164697

Clustering vector:
   [1] 3 4 4 3 4 5 4 3 1 5 4 4 3 2 3 5 5 3 2 5 4 5 4 3 4 4 4 5 4 2 3 1 4 4 4 5 2
  [38] 5 5 4 3 4 3 4 5 1 4 5 5 1 3 1 3 4 1 4 5 5 3 1 4 5 2 5 5 4 5 2 5 5 5 5 4 4
  [75] 1 5 5 3 4 4 5 3 3 4 2 4 5 5 3 4 5 4 5 3 3 5 1 5 2 3 5 5 4 1 5 1 3 3 1 5 4
 [112] 2 4 4 3 2 3 5 2 3 4 4 5 4 2 3 3 4 4 2 3 5 3 5 5 3 4 4 2 3 3 5 2 1 3 4 4 4
 [149] 3 5 3 2 4 2 3 4 4 4 5 2 4 4 3 5 2 2 5 3 4 5 5 4 4 5 4 2 2 4 5 2 3 3 4 5 4
 [186] 2 3 2 5 3 5 5 5 4 3 2 5 4 3 3 5 4 5 5 4 5 5 3 1 4 3 4 4 4 4 1 5 3 2 4 5 4
 [223] 4 5 3 5 4 5 5 2 1 4 4 4 2 2 5 5 3 4 5 3 1 4 4 4 3 5 4 3 5 5 4 3 5 4 4 5 3
 [260] 3 4 4 3 4 4 1 5 1 2 3 4 5 3 4 5 1 4 4 3 5 5 4 5 5 3 5 4 3 4 4 5 4 4 5 1 4
 [297] 3 5 2 5 2 1 4 5 2 3 3 3 3 5 4 4 4 4 3 5 3 4 4 5 2 4 4 2 4 5 5 5 3 2 2 5 4
 [334] 4 4 3 5 5 5 4 5 3 4 3 3 2 5 4 4 5 5 1 5 5 3 5 1 2 1 3 5 2 4 3 1 5 5 3 5 4
 [371] 4 3 4 4 2 4 3 4 1 2 3 4 4 5 5 1 4 5 1 4 4 5 4 3 5 4 5 1 4 4 5 4 4 5 5 3 5
 [408] 1 5 1 5 3 4 3 4 4 4 1 4 5 5 3 4 3 4 4 5 5 3 5 5 5 5 4 3 5 3 5 5 3 3 2 2 3
 [445] 5 4 3 4 2 4 3 1 2 5 1 5 4 4 3 4 3 5 3 5 5 3 3 3 4 5 1 3 5 2 4 5 3 5 5 5 4
 [482] 5 3 5 5 5 5 5 5 4 1 3 4 4 3 1 3 5 3 4 3 5 3 4 5 2 2 3 5 4 5 2 2 2 5 2 2 4
 [519] 5 5 3 4 5 2 4 5 4 4 5 3 3 5 5 5 4 3 4 5 5 3 4 3 4 1 1 5 5 4 3 5 5 5 1 4 5
 [556] 5 5 3 4 3 3 4 2 3 2 4 5 1 5 4 4 3 4 5 3 2 2 5 4 5 5 2 4 2 3 5 4 5 3 5 2 2
 [593] 2 4 4 5 1 3 4 5 5 1 4 4 5 4 5 1 4 2 4 5 5 4 3 2 4 5 5 5 4 5 1 2 3 3 4 1 4
 [630] 4 5 3 2 1 5 5 5 1 4 1 5 5 2 4 5 5 2 2 3 2 2 4 5 3 4 4 4 3 2 2 5 2 3 5 1 5
 [667] 5 2 3 3 5 5 4 5 4 3 4 5 3 1 5 2 2 4 4 5 3 5 5 4 1 3 3 4 2 2 3 4 1 1 5 5 3
 [704] 5 1 5 1 1 3 5 5 4 3 5 3 4 3 3 4 2 3 5 4 4 4 4 5 5 4 2 3 5 4 3 4 5 3 4 5 4
 [741] 4 4 4 3 4 3 5 5 5 5 5 3 2 1 2 5 3 4 4 5 4 2 3 5 5 3 5 3 3 4 4 5 1 3 4 5 5
 [778] 4 4 5 1 3 4 4 5 3 1 3 5 5 5 3 5 4 3 5 2 2 5 4 4 3 4 5 4 4 5 3 5 2 1 5 3 2
 [815] 5 5 2 4 3 5 4 2 4 2 5 4 2 4 5 5 4 3 4 4 5 3 5 4 5 4 5 5 2 3 4 4 5 5 4 4 4
 [852] 4 5 5 3 2 5 5 5 4 4 3 2 3 3 3 4 4 1 3 2 4 1 3 5 2 4 2 2 4 4 4 3 5 5 2 3 1
 [889] 2 4 1 2 5 4 5 3 4 1 3 5 2 4 3 5 1 3 4 5 5 5 3 4 4 3 2 4 4 4 3 5 5 5 5 1 2
 [926] 5 2 2 5 1 5 4 4 4 5 4 1 3 4 1 4 4 5 4 4 5 3 5 3 4 5 4 4 3 4 4 3 4 4 5 1 3
 [963] 5 3 3 5 5 5 4 3 3 2 1 4 5 5 5 4 3 4 5 3 4 5 5 4 5 3 5 3 3 3 4 3 4 2 5 3 3
[1000] 2 5 2 4 5 5 5 3 3 3 5 4 2 4 3 3 1 5 5 3 5 3 5 3 3 1 4 5 3 5 3 2 4 5 1 5 4
[1037] 5 2 2 5 5 4 4 5 3 1 4 5 4 5 2 5 3 4 4 4 3 5 5 3 5 5 5 3 5 1 4 4 2 5 4 5 5
[1074] 4 4 4 2 5 2 3 4 5 4 4 5 4 2 4 5 4 4 5 3 4 4 4 5 1 5 1 4 2 5 4 5 5 4 4 1 4
[1111] 3 4 4 5 5 5 4 1 2 5 5 5 4 5 3 2 4 5 5 1 4 3 3 4 2 1 3 5 5 5 2 1 3 3 4 5 4
[1148] 3 3 1 5 4 3 4 4 5 5 5 4 4 4 1 4 1 5 3 3 4 3 4 3 3 4 5 3 3 2 1 5 5 4 3 3 4
[1185] 1 5 4 4 5 4 4 1 2 5 5 5 3 2 4 4 5 4 3 3 5 3 3 3 5 5 5 3 4 4 3 5 2 3 4 4 2
[1222] 3 3 5 3 3 4 1 3 2 4 5 4 3 3 2 5 4 2 5 5 3 5 4 3 5 5 1 4 5 4 1 3 5 3 2 3 5
[1259] 4 5 5 4 4 5 4 5 1 4 5 5 5 1 5 5 4 5 3 4 3 3 5 5 2 5 2 4 3 4 2 5 5 5 5 4 2
[1296] 5 3 4 4 3 2 4 4 5 3 4 1 1 4 2 2 4 5 5 3 3 4 5 3 3 1 5 1 3 5 5 2 4 5 5 5 4
[1333] 1 2 3 5 4 4 3 5 4 4 3 5 3 4 5 2 4 3 5 5 5 4 4 5 1 4 5 3 5 5 4 2 3 3 5 2 5
[1370] 2 5 5 4 5 5 2 1 1 5 4 5 5 5 1 4 5 2 5 2 4 5 5 2 4 5 4 5 5 4 3 5 5 5 5 3 5
[1407] 3 4 5 3 2 2 5 4 4 5 4 5 3 4 2 5 4 5 2 4 4 4 4 3 4 3 5 5 2 4 2 5 3 5 1 1 5
[1444] 1 2 5 5 2 5 2 2 5 3 5 5 5 4 3 4 4 5 5 4 2 5 3 3 5 1 1 5 4 3 4 2 5 1 4 3 4
[1481] 4 5 5 5 3 5 4 3 3 5 3 2 4 5 2 3 3 5 2 3 4 3 3 1 5 3 5 4 3 1 2 4 4 3 4 3 5
[1518] 3 2 4 4 4 3 4 4 2 4 5 4 3 3 4 1 2 4 4 1 2 4 3 2 3 2 1 4 1 5 5 5 4 4 1 4 4
[1555] 1 5 5 4 3 4 5 5 4 5 3 4 5 2 3 4 4 5 5 2 4 4 4 3 4 5 4 5 5 4 4 5 2 5 4 1 4
[1592] 3 4 3 3 5 4 4 4 5 5 5 4 3 3 1 5 5 4 5 5 3 1 3 1 3 4 3 3 4 5 3 3 3 4 4 5 3
[1629] 4 3 4 4 5 5 2 5 4 5 5 3 1 5 2 5 4 3 4 5 3 3 4 3 5 5 5 4 4 5 4 2 4 4 5 1 3
[1666] 5 5 5 5 4 5 5 5 4 4 2 4 2 2 1 5 5 3 4 3 4 4 5 4 3 4 4 4 4 5 2 2 4 5 4 4 3
[1703] 4 4 1 2 3 5 1 5 5 3 2 5 3 4 4 3 4 4 4 5 1 4 5 4 5 4 1 4 5 5 3 2 5 2 2 5 3
[1740] 4 3 3 4 4 5 5 4 5 3 3 5 5 3 1 3 5 5 2 4 4 5 3 2 3 4 5 3 3 3 4 3 2 4 1 1 4
[1777] 3 2 5 5 5 5 4 5 2 5 5 3 4 5 2 1 3 1 4 4 5 2 1 4 4 3 3 5 5 5 5 5 4 5 3 4 4
[1814] 1 3 3 5 3 3 5 4 4 5 5 3 3 4 1 5 5 5 5 4 1 4 5 2 1 3 2 1 3 3 5 4 4 3 3 1 5
[1851] 4 2 5 3 5 4 2 4 5 5 5 5 4 4 2 4 5 3 4 4 4 5 4 3 1 4 3 4 1 3 2 2 1 4 1 3 5
[1888] 5 3 4 4 3 2 1 5 5 2 5 4 5 5 5 4 5 5 4 4 2 5 4 3 5 4 4 2 3 2 5 1 4 4 4 2 5
[1925] 4 4 4 5 5 4 4 2 3 5 5 5 5 1 3 3 2 2 5 5 3 3 2 3 5 5 4 4 2 2 3 5 3 1 2 1 5
[1962] 4 3 4 4 4 3 3 4 3 2 1 2 5 5 4 3 3 3 5 4 5 4 3 3 4 3 5 4 3 3 5 3 4 4 3 5 4
[1999] 3 2 4 5 5 5 4 2 3 5 4 5 2 3 4 5 5 2 1 4 5 4 5 4 5 4 5 5 3 4 4 4 5 5 4 3 5
[2036] 5 4 1 5 4 2 2 3 4 3 4 1 2 5 4 2 5 5 3 3 2 1 2 5 5 5 4 5 4 1 1 1 4 4 4 5 4
[2073] 5 2 3 5 4 4 3 1 5 3 5 5 5 4 3 3 5 2 2 2 5 5 5 5 1 5 4 3 3 4 5 4 4 3 5 3 5
[2110] 5 5 2 5 3 1 5 3 4 3 2 5 5 3 2 1 1 4 4 5 5 5 4 5 1 1 3 5 5 5 5 3 5 5 2 4 5
[2147] 4 3 3 3 1 5 4 5 2 4 5 5 5 5 4 5 3 2 5 4 3 3 4 4 5 3 2 5 1 4 4 5 3 1 3 1 3
[2184] 5 3 4 4 3 5 5 4 2 3 5 3 5 3 5 4 5 2 4 5 3 1 5 4 5 3 5 4 4 4 5 1 4 1 4 4 5
[2221] 2 5 4 4 3 4 5 3 3 2 4 3 5 2 5 3 3 3 3 4 3 4 5 5 3 4 5 1 5 5 4 4 2 2 4 4 4
[2258] 3 5 5 3 3 2 1 3 4 4 5 2 3 4 4 3 5 3 4 3 2 4 5 3 4 5 5 2 1 4 5 5 5 4 3 4 5
[2295] 4 4 2 4 4 5 5 3 5 4 2 3 5 1 4 3 3 2 3 1 5 5 2 4 4 5 2 5 4 2 5 1 4 5 3 3 5
[2332] 4 1 5 2 3 3 4 1 5 4 5 4 5 3 4 3 5 2 5 4 4 3 4 5 3 5 5 2 3 5 4 2 4 4 5 4 3
[2369] 5 4 1 5 5 5 3 4 1 3 4 5 3 5 1 5 4 4 4 5 3 5 5 4 3 5 4 3 4 4 2 1 4 5 1 5 4
[2406] 2 5 5 5 4 3 4 3 4 3 3 4 5 5 4 4 4 5 4 4 3 4 5 5 3 4 1 5 4 5 4 5 5 2 1 2 5
[2443] 5 3 5 5 3 1 2 4 4 5 5 5 5 3 2 4 2 5 4 2 4 1 3 4 5 3 1 4 3 3 4 4 4 4 4 2 5
[2480] 3 3 5 2 4 5 5 5 4 3 4 3 4 1 3 5 1 4 4 3 5 3 2 4 4 2 4 2 2 3 2 3 5 4 2 4 4
[2517] 4 5 3 5 4 3 4 3 3 5 3 4 3 5 3 3 5 5 4 5 5 5 3 5 5 1 2 5 3 5 2 3 4 5 4 1 4
[2554] 3 4 1 2 4 3 4 3 2 3 3 3 5 5 5 4 5 4 4 5 3 4 5 4 5 4 5 5 4 4 5 5 4 3 1 3 4
[2591] 3 5 3 4 5 5 4 4 4 4 5 1 5 4 5 5 1 5 4 4 4 5 2 4 4 5 5 4 5 4 5 4 4 4 4 5 5
[2628] 3 3 3 5 5 1 5 4 5 2 5 3 3 5 3 3 5 3 3 5 4 3 1 5 2 4 5 5 1 3 2 5 2 4 5 2 5
[2665] 4 5 4 5 5 5 5 5 2 4 4 3 2 1 3 5 4 4 5 2 5 1 4 5 4 5 3 2 4 1 1 5 4 5 2 2 5
[2702] 4 4 5 3 3 5 5 2 5 4 3 4 4 2 3 2 1 4 3 3 4 3 4 4 4 4 1 5 3 3 5 1 1 4 4 1 2
[2739] 4 3 1 4 2 4 1 4 4 4 1 1 3 4 3 1 2 3 2 2 5 1 4 4 3 4 5 5 5 4 5 5 3 4 1 4 5
[2776] 2 4 4 1 1 4 4 2 1 2 2 2 3 5 2 1 4 4 4 2 4 5 4 5 5 5 5 2 5 4 4 4 4 4 5 2 4
[2813] 3 3 5 2 4 5 3 5 4 4 3 4 5 2 5 4 5 3 3 2 1 3 5 5 5 4 5 4 4 4 2 3 5 3 5 5 4
[2850] 4 5 3 3 5 5 4 1 3 5 4 5 5 3 5 5 4 3 4 5 5 4 2 1 1 2 5 1 4 1 4 3 4 4 5 1 4
[2887] 2 5 2 1 3 5 5 5 4 5 4 3 3 4 5 5 4 5 4 2 5 3 3 4 4 4 5 5 5 4 5 5 1 4 5 4 3
[2924] 5 1 3 5 5 2 4 3 5 5 3 4 5 4 1 4 3 5 5 4 4 4 5 4 5 4 5 5 4 2 1 4 4 4 4 3 5
[2961] 2 5 3 3 5 4 5 5 2 3 2 3 4 4 4 4 5 4 5 5 5 1 5 5 5 3 4 4 2 4 4 5 5 4 3 3 5
[2998] 4 1 4 4 1 4 4 4 5 5 5 1 3 5 3 4 4 4 4 4 4 5 2 5 4 4 3 3 2 2 3 4 1 4 4 4 5
[3035] 5 4 2 4 2 4 2 4 4 2 5 1 5 1 3 5 4 5 5 5 3 4 3 4 5 5 2 4 2 4 3 4 5 4 4 2 3
[3072] 1 5 3 4 4 5 5 5 3 4 5 4 5 2 4 4 4 4 2 5 5 5 5 3 3 5 3 4 5 4 5 4 1 3 5 5 3
[3109] 4 5 5 4 5 4 3 1 5 4 5 5 3 2 3 3 5 4 3 1 3 5 3 5 5 3 4 4 4 5 5 4 4 5 5 4 5
[3146] 5 5 3 1 5 4 5 4 5 3 3 5 4 3 3 3 4 3 2 4 4 4 4 5 5 5 4 3 3 3 4 5 5 5 4 4 4
[3183] 2 3 5 2 4 3 4 5 4 1 5 5 4 5 2 2 3 3 5 3 4 3 5 2 3 3 3 4 4 2 5 5 5 3 4 4 1
[3220] 3 2 4 5 3 5 1 4 5 2 3 5 5 4 3 4 3 2 5 3 3 5 4 2 5 4 5 5 2 3 1 3 1 3 3 5 5
[3257] 3 4 5 5 5 5 4 3 5 5 5 4 3 2 5 5 4 5 3 5 5 5 4 5 4 5 3 5 3 4 5 4 2 2 1 1 4
[3294] 3 5 4 5 3 5 5 4 3 2 3 3 4 5 3 4 5 3 3 2 5 4 5 3 4 4 4 2 4 3 5 4 5 3 5 4 5
[3331] 3 4 2 4 4 5 3 5 1 3 4 5 5 5 5 2 5 5 4 5 5 2 2 5 5 1 3 3 3 5 2 5 2 4 5 4 5
[3368] 4 1 2 5 4 4 4 4 4 3 1 4 3 2 5 2 4 4 4 4 4 5 5 5 1 5 4 3 5 5 2 2 3 4 5 1 5
[3405] 3 4 5 2 4 1 2 5 4 4 4 4 4 2 2 2 2 4 5 3 5 4 5 3 1 3 2 5 5 4 5 3 5 4 3 5 4
[3442] 2 3 4 4 2 3 2 5 3 5 4 5 5 3 4 5 5 3 5 5 1 2 5 4 3 2 2 3 5 5 5 1 3 3 5 2 2
[3479] 3 2 4 4 5 3 5 1 1 5 4 3 1 2 5 5 3 3 5 4 4 5 5 1 2 5 3 4 3 4 5 5 4 5 2 4 1
[3516] 3 3 5 1 5 5 2 3 5 5 5 5 4 5 3 1 3 4 4 4 1 4 3 4 5 3 2 5 4 2 4 4 4 3 1 2 4
[3553] 4 4 5 4 1 2 1 1 4 4 3 4 3 1 3 1 5 1 5 5 5 1 5 3 5 3 5 4 3 4 1 3 2 3 3 2 5
[3590] 3 5 4 4 3 2 3 4 3 2 4 5 4 2 3 5 2 2 5 1 4 3 3 4 4 5 5 5 4 5 3 5 3 5 5 4 1
[3627] 4 3 4 4 1 4 4 3 1 3 5 5 4 2 4 3 2 1 2 3 2 4 4 3 5 2 4 4 4 5 2 2 5 5 5 1 5
[3664] 2 5 4 5 1 4 5 5 4 5 5 5 3 5 3 5 4 5 4 3 5 5 4 2 3 1 5 4 3 5 2 5 4 5 5 2 5
[3701] 2 5 4 4 5 5 4 5 3 3 4 4 4 5 3 4 4 3 5 5 4 3 2 4 3 5 1 1 1 5 4 4 3 3 4 1 5
[3738] 1 5 5 4 5 2 4 3 3 3 3 3 4 4 5 2 3 3 4 1 3 3 5 3 5 5 4 4 5 5 3 4 4 5 1 4 4
[3775] 4 1 5 2 4 4 2 4 4 5 3 5 4 1 5 2 5 4 4 1 4 5 5 4 3 4 3 2 3 2 3 5 3 5 3 1 2
[3812] 5 3 4 4 4 5 4 5 3 5 5 5 5 4 4 2 4 4 3 4 3 4 5 5 3 3 4 5 3 1 2 2 1 4 3 3 2
[3849] 4 2 4 1 4 3 5 1 2 4 5 3 3 3 3 5 3 5 1 4 5 4 5 2 4 5 4 3 3 3 4 5 5 3 5 4 4
[3886] 5 5 3 4 4 4 3 4 3 4 3 5 4 4 2 3 4 5 3 2 4 4 3 1 1 5 4 3 5 5 4 2 3 5 4 4 1
[3923] 3 5 4 5 4 4 4 5 5 4 5 5 5 5 5 1 5 3 3 4 5 3 3 4 4 3 3 3 5 4 4 2 5 3 4 2 4
[3960] 2 3 4 2 3 5 4 4 1 3 5 4 1 3 4 3 2 4 5 2 5 4 4 4 2 5 5 1 5 5 3 3 4 3 5 1 5
[3997] 4 1 5 5 1 5 1 3 1 1 4 3 3 4 4 4 3 3 1 1 5 1 4 5 3 4 2 5 1 4 3 3 1 3 4 5 5
[4034] 3 5 3 2 5 4 5 2 4 1 3 4 1 3 3 4 4 2 3 4 4 3 1 5 4 3 5 2 1 3 3 3 5 5 5 2

Within cluster sum of squares by cluster:
[1] 9653.457 1659.595 3991.823 9443.562 5742.403
 (between_SS / total_SS =  81.1 %)

Available components:

[1] "cluster"      "centers"      "totss"        "withinss"     "tot.withinss"
[6] "betweenss"    "size"         "iter"         "ifault"

In [189]:
mycluster$centers

  sex_empresa sex_home  sex_dona  ec_otro    ec_casado ec_divorciado
1 0.49695122  0.3414634 0.1615854 0.49695122 0.2073171 0.1067073
2 0.00000000  0.6441441 0.3558559 0.00000000 0.6103604 0.3333333
3 0.09785203  0.5727924 0.3293556 0.09785203 0.3114558 0.1491647
4 0.27310924  0.4529412 0.2739496 0.27310924 0.2957983 0.1487395
5 0.18518519  0.5193065 0.2955083 0.18518519 0.2884161 0.1308117
  ec_soltero  ec_viudo   reg_norte_europa reg_norte_america reg_sur_europa
1 0.164634146 0.02439024 0.5609756        0.2012195         0.2378049
2 0.009009009 0.04729730 0.4234234        0.2207207         0.3558559
3 0.427207637 0.01431981 0.4140811        0.2219570         0.3639618
4 0.269747899 0.01260504 0.4739496        0.2252101         0.3008403
5 0.379826635 0.01576044 0.4239559        0.2214342         0.3546099
  numero_hijos total_compras
1 0.5213415    22.820122
2 2.6013514     4.903153
3 0.5632458     2.126492
4 0.7058824    12.589076
5 0.4121355     7.164697